{% extends "springeval/base.html" %}


{% block content %}
  <h2>Sign up</h2>
  <p>In order to submit your own results to the benchmark, you need to sign up.
    Please register below and confirm your mail address by clicking on the link we send you.
    Afterwards, your account will be verified by our team.
    Do not register multiple times!
  </p>
  <form method="post">
    <table>
    {% csrf_token %}
    {{ form.as_table }}
    </table>
    <p>*required</p>
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}