{% extends "springeval/base.html" %}

{% block title %}
<title>Stereo Evaluation &ndash; The Spring Dataset &amp; Benchmark</title>
{% endblock %}

{% block content %}

{% if entries_list %}
<div style="overflow-x:auto;">
<table>
    <tr>
        <th style="width:0;"></th>
        <th style="width:100%;">Name</th>
        <th class="leftbig clickable">
            <a href="{% url 'springeval:stereo' %}">1px {% if sortby == "err_1px_D1_total" %}&#9650;{% endif %}<br>total</a>
        </th>
        <th class="leftbig clickable">
            <a href="{% url 'springeval:stereo' %}?s=err_1px_D1_lowdetail">1px {% if sortby == "err_1px_D1_lowdetail" %}&#9650;{% endif %}<br>low-detail</a>
        </th>
        <th class="clickable">
            <a href="{% url 'springeval:stereo' %}?s=err_1px_D1_highdetail">1px {% if sortby == "err_1px_D1_highdetail" %}&#9650;{% endif %}<br>high-detail</a>
        </th>
        <th class="leftbig clickable">
            <a href="{% url 'springeval:stereo' %}?s=err_1px_D1_matched">1px {% if sortby == "err_1px_D1_matched" %}&#9650;{% endif %}<br>matched</a>
        </th>
        <th class="clickable">
            <a href="{% url 'springeval:stereo' %}?s=err_1px_D1_unmatched">1px {% if sortby == "err_1px_D1_unmatched" %}&#9650;{% endif %}<br>unmatched</a>
        </th>
        <th class="leftbig clickable">
            <a href="{% url 'springeval:stereo' %}?s=err_1px_D1_notsky">1px {% if sortby == "err_1px_D1_notsky" %}&#9650;{% endif %}<br>not sky</a>
        </th>
        <th class="clickable">
            <a href="{% url 'springeval:stereo' %}?s=err_1px_D1_sky">1px {% if sortby == "err_1px_D1_sky" %}&#9650;{% endif %}<br>sky</a>
        </th>
        <th class="leftbig clickable">
            <a href="{% url 'springeval:stereo' %}?s=err_1px_D1_s0_10">1px {% if sortby == "err_1px_D1_s0_10" %}&#9650;{% endif %}<br>s0-10</a>
        </th>
        <th class="clickable">
            <a href="{% url 'springeval:stereo' %}?s=err_1px_D1_s10_40">1px {% if sortby == "err_1px_D1_s10_40" %}&#9650;{% endif %}<br>s10-40</a>
        </th>
        <th class="clickable">
            <a href="{% url 'springeval:stereo' %}?s=err_1px_D1_s40">1px {% if sortby == "err_1px_D1_s40" %}&#9650;{% endif %}<br>s40+</a>
        </th>
        <th class="leftbig clickable">
            <a style="padding-top:1.05rem;padding-bottom:1.05rem" href="{% url 'springeval:stereo' %}?s=err_Abs_D1_total">Abs {% if sortby == "err_Abs_D1_total" %}&#9650;{% endif %}</a>
        </th>
        <th class="clickable">
            <a style="padding-top:1.05rem;padding-bottom:1.05rem" href="{% url 'springeval:stereo' %}?s=err_D1_total">D1 {% if sortby == "err_D1_total" %}&#9650;{% endif %}</a>
        </th>
    </tr>
    <tr>
    <td colspan="10" class="citation">
        &nbsp;
    </td>
    </tr>
    {% for entry in entries_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            <a href="{% url 'springeval:detail' entry.id %}">{{ entry.name }}</a>
            {% if entry.method_type == "SF" %}
                [SF]
            {% endif %}
        </td>
        <td class="num leftbig">{{ entry.err_1px_D1_total|floatformat:3 }}</td>
        <td class="num leftbig">{{ entry.err_1px_D1_lowdetail|floatformat:3 }}</td>
        <td class="num">{{ entry.err_1px_D1_highdetail|floatformat:3 }}</td>
        <td class="num leftbig">{{ entry.err_1px_D1_matched|floatformat:3 }}</td>
        <td class="num">{{ entry.err_1px_D1_unmatched|floatformat:3 }}</td>
        <td class="num leftbig">{{ entry.err_1px_D1_notsky|floatformat:3 }}</td>
        <td class="num">{{ entry.err_1px_D1_sky|floatformat:3 }}</td>
        <td class="num leftbig">{{ entry.err_1px_D1_s0_10|floatformat:3 }}</td>
        <td class="num">{{ entry.err_1px_D1_s10_40|floatformat:3 }}</td>
        <td class="num">{{ entry.err_1px_D1_s40|floatformat:3 }}</td>
        <td class="num leftbig">{{ entry.err_Abs_D1_total|floatformat:3 }}</td>
        <td class="num">{{ entry.err_D1_total|floatformat:3 }}</td>
    </tr>
    <tr>
        <td class="citation"></td>
        <td colspan="13" class="citation">
            {% if entry.visibility == "ANON" %}
                Anonymous.
            {% else %}
                {% if entry.citation|length > 0 %}
                    {{ entry.citation }}
                {% else %}
                    &nbsp;
                {% endif %}
            {% endif %}
        </td>
    {% endfor %}
</table>
</div>
{% else %}
<p>No data available.</p>
{% endif %}
{% endblock %}