{% extends "springeval/base.html" %}

{% block content %}

{% if user.can_upload %}
<nav>
<a href="{% url 'springeval:submit' %}">Create new submission</a>
</nav>
{% else %}
<nav>
<a><strike>Create new submission</strike></a>
</nav>
{% endif %}

{% for reason in user.getreasons %}
<p class="reason">&#x2716; {{reason}}</p>
{% endfor %}

<h4>Submission instructions</h4>
<ol>
<li>Let your new and interesting approach predict results for the spring test split.</li>
<ul>
    <li>You can find code to read/write <code>.flo5</code> and <code>.dsp5</code> files <a href="https://github.com/cv-stuttgart/flow_library/blob/master/flow_IO.py" target="_blank" rel="noopener noreferrer">here</a>.</li>
    <li>Use the same folder structure, file naming and file formats as in the dataset.</li>
    <li>For stereo use <code>&lt;rootdir&gt;/####/disp1_{left|right}/disp1_{left|right}_####.dsp5</code></li>
    <li>For optical flow use <code>&lt;rootdir&gt;/####/flow_{FW|BW}_{left|right}/flow_{FW|BW}_{left|right}_####.flo5</code></li>
    <li>For scene flow use the above plus <code>&lt;rootdir&gt;/####/disp2_{FW|BW}_{left|right}/disp2_{FW|BW}_{left|right}_####.dsp5</code></li>
</ul>
<li>Use the subsampling executable for submission file(s) generation.</li>
<ul>
    <li>Download the <a href="https://cloud.visus.uni-stuttgart.de/index.php/s/Yn6ndkgQ9rvlYCp" target="_blank" rel="noopener noreferrer">subsampling executable(s)</a>.</li>
    <li>Usage: <code>./{flow|disp1|disp2}_subsampling &lt;rootdir&gt;</code>. A hdf5 submission file is generated in the current directory.</li>
    <li>Use the disp1 or flow executables for the stereo or optical flow task; use all three for the scene flow task.</li>
</ul>
<li>Upload to our benchmark webpage for evaluation.</li>
<ul>
    <li>Upload your hdf5 file (for scene flow: your three hdf5 files) using the button above.</li>
    <li>Please allow up to 1-2h until your result is evaluated.</li>
    <li>All results are by default set to private. You can later choose results to be private, public anonymous or public.</li>
</ul>

</ol>


<h3>Your Submissions</h3>

{% if entries_list %}
{% for entry in entries_list %}
<p style="margin-bottom:6px;"><b><a href="{% url 'springeval:detail' entry.id %}">{{entry.name}}</a></b>
{% if entry.process_status == "WAIT_UPL" or entry.process_status == "WAIT_PROC" %}
&nbsp;&#8634; <i>{{entry.get_process_status_display}}</i>
{% endif %}
{% if entry.process_status == "FAIL"%}
&nbsp;&#x2716; <i>{{entry.get_process_status_display}}</i>
{% endif %}
&nbsp;&nbsp;
<br>
{{entry.pub_date}} &nbsp;&mdash;&nbsp; {{entry.get_visibility_display}}</p>
<nav style="padding-top:0px"><a href="{% url 'springeval:edit' entry.id %}" style="font-size:0.8rem">Edit</a></nav>
{% endfor %}
{% else %}
<p>No data available.</p>
{% endif %}

{% endblock %}